body{
	background-color: powderblue;
}

.profile-img{
	height:200px;
	width:300px;
	margin:30px auto 30px auto;
}
h1{
	position: relative;
    left: 45%;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}


.name{
	margin: auto;
    width: 70%;
	padding-left:280px;
}
.small-intro{
	margin:auto;
	width:70%;
}
span{
	color:red;
}
hr{
	border-color:grey;
	border-style:dotted;
	border-width:7px;
	width:6%;
	border-bottom:none;
	border-right:none;
	border-left:none;
}
.myskills-txt{
	
	font-weight: bold;
    margin: 40px 30% 20px;
    font-size: 30px;
    padding-left: 15%;
}
.skill-img{
	height:200px;
	width:600px;
	margin:30px auto 30px auto;
}
#java-img{
	
    height: 100px;
    width: 100px;
	padding-left:21%;
}
#web-img{
	
	height:120px;
	width:120px;
	padding-left:2%;
}
#sql-img{
	
	height:80px;
	width:80px;
	padding-left:2%;
}

.footer{
	background-color: #5D3CE4;
    padding: 50px 0 20px;
    position: relative;
    top: 12px;
    right: 12px;
    width: 110%;
}
	